body {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full height of the viewport */
    margin: 0; /* Remove default margin */
}

#canvas-container {
    position: relative;
    width: 400px;
    height: 400px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
    z-index: 10;
    cursor: url('data:image/x-icon;base64,AAACAAEAICAQAAAAAADoAgAAFgAAACgAAAAgAAAAQAAAAAEABAAAAAAAAAIAAAAAAAAAAAAAEAAAAAAAAAAAAAAAhYWFAPqv6ADgm4sASkpKAJ/l7QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACIAAAAAAAAAAAAAAAAAAAEiIAAAAAAAAAAAAAAAAAAxEiIAAAAAAAAAAAAAAAADMxEgAAAAAAAAAAAAAAAAMzMxAAAAAAAAAAAAAAAAAzMzMAAAAAAAAAAAAAAAADMzMwAAAAAAAAAAAAAAAAMzMzAAAAAAAAAAAAAAAAAzMzMAAAAAAAAAAAAAAAADMzMwAAAAAAAAAAAAAAAABTMzAAAAAAAAAAAAAAAAAFVTMAAAAAAAAAAAAAAAAABFVQAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD///////////////////////////////////////////////////////////////////////////////////////P////h////wP///4H///8D///+B////A////gf///wP///4H///+D////B////w////8///////////////w=='), auto;
}

.dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}


#stroke1 {
    display: none;
    position: absolute;
    top: 90px;
    left: 94px;
    width: 11px;
    height: 225px;
    z-index: -1;
    

}

#stroke2 {
    display: none;
    position: absolute;
    top: 90px;
    left: 95px;
    width: 140px;
    height: 90px;
    transform: rotate(10deg);

}

#stroke3 {
    
    display: none;
    position: absolute;
    top: 187px;
    left: 140px;
    width: 170px;
    height: 132px;

}
#sbox {
    position: relative;
    left: 115px;
    width: 400px;
    height: 400px;
    z-index: -2;
    display: none;
}

#trace {
    position: relative;
    bottom: 20px;
    right: 90px;
    width: 600px;
    height: 550px;
    z-index: -10;
}

.arrrow1 {
    
    position: absolute;
    top: 120px;
    left: 40px;
    width: 40px;
    height: 130px;
    transform: rotate(180deg);
    z-index: -1;
}
.arrrow2 {
   display: none;
    position: absolute;
    top: 110px;
    left: 130px;
    width: 50px;
    height: 100px;
    transform: rotate(250deg) scalex(1);
    z-index: -1;
}
.arrrow3 {
    display: none;
    position: absolute;
    top: 200px;
    left: 310px;
    width: 20px;
    height: 110px;
    transform: rotate(180deg);
    z-index: 0;
}