*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}


.simulation-container{
    background-color: rgba(220,229,236,255);
    width: 1000px;
    height: 700px;
    /* padding: 5px; */
}

.title{
    margin: 0px;
    padding: 5px;
    letter-spacing: .1em;
    background-color: rgb(0, 140, 255);
    color: white;
    display: flex;
    justify-content: center;
}

/* Container Text  */

.content-container{
    position: absolute;
    padding: 10px;
}


.content-main{
    position: absolute;
    display: inline-block;
    text-align: justify;
    top: 30px;
    left: 100px;
    width: 690px;
    font-size: 18px;
}

.instruments{
    position: relative;
    display: inline-block;
    text-align: justify;
    top: 60px;
    width: 750px;
    left: 190px;
    
    font-size: 17px;
    
}

.instruction-main{
    position: absolute;
    display: inline-block;
    top: 30px;
}

.instruction-main1 {
    font-size: 20px;
    display: block;
    position: relative;
    left: 0px;
    top: 100px;
}



/* TEXT  */

.step{
    display: inline-block;
}

.step-number{
    background-color: rgb(20, 117, 228);
    color: white;
    padding: 5px 7px;
    border-radius: 5px;
}

.instructions{
    position: absolute;
    display: inline;
    left: 95px;
    width: 690px;
    text-align: justify;
    font-size: 18px;
}

/* IMAGES  */

.instruments-img{
    position: absolute;
    
    left: 70px;
    top: 300px;
}



/* TRANSBOXES  */

/* ARROWS  */




/* BUTTONS  */

.next-exp{
    
    position: absolute;
    left: 830px;
    top: 570px;
    padding: 10px 15px;
    color: white;
    background-color: rgb(20, 117, 228);
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

