*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}


.simulation-container{
    background-color: rgba(220,229,236,255);
    width: 1000px;
    height: 700px;
    /* padding: 5px; */
}

.title{
    margin: 0px;
    padding: 5px;
    letter-spacing: .1em;
    background-color: rgb(0, 140, 255);
    color: white;
    display: flex;
    justify-content: center;
}

/* Container Text  */

.content-container{
    position: absolute;
    padding: 10px;
}


.content-main{
    position: absolute;
    display: inline-block;
    text-align: justify;
    top: 30px;
    left: 100px;
    width: 690px;
    font-size: 18px;
}

.instruments{
    position: absolute;
    display: inline-block;
    text-align: justify;
    top: 88px;
    left: 175px;
    width: 610px;
    font-size: 13.5px;
}

.instruction-main{
    position: absolute;
    display: inline-block;
    top: 30px;
}

/* TEXT  */

.step{
    display: inline-block;
}

.step-number{
    background-color: rgb(20, 117, 228);
    color: white;
    padding: 5px 7px;
    border-radius: 5px;
}

.instructions{
    position: absolute;
    display: inline;
    left: 95px;
    width: 690px;
    text-align: justify;
    font-size: 18px;
}

/* IMAGES  */

.instruments-img{
    position: absolute;
    width: 600px;
    left: 60px;
    top: 200px;
}

.exp-image-section, .exp-image-section-gifs{
    visibility: hidden;
    position: absolute;
    width: 700px;
    top: 125px;
    left: 50px;
}

/* TRANSBOXES  */

.exp-transboxes{
    visibility: hidden;
    position: absolute;
    /* border: 2px solid green; */
}

/* ARROWS  */

.exp-arrows, .arr-next{
    visibility: hidden;
    position: absolute;
    width: 50px;
}

/* BUTTONS  */

.next-exp{
    visibility: hidden;
    position: absolute;
    left: 730px;
    top: 520px;
    padding: 10px 15px;
    color: white;
    background-color: rgb(20, 117, 228);
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.arr-next{
    left: 680px;
    top: 525px;
}