* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; /* Ensures padding and border are included in width/height calculations */
}

body, html {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensures that the main content area is at least as tall as the viewport */
}

.simulation-container {
    background-color: rgba(220, 229, 236, 1);
    width: 90%; /* Responsive width */
    max-width: 1000px; /* Max width to maintain design integrity */
    min-height: 700px; /* Minimum height */
    margin: 20px auto; /* Auto margins for centering */
}

.title {
    margin: 0;
    padding: 5px;
    letter-spacing: 0.1em;
    background-color: rgb(0, 140, 255);
    color: white;
    display: flex;
    justify-content: center;
    width: 100%; /* Ensure it fills the container */
}

.content-container {
    position: relative; /* Changed from absolute for better control in responsive design */
    padding: 10px;
}

.content-main {
    display: block; /* Default to block for simpler responsive design */
    text-align: justify;
    margin: 30px auto; /* Center and provide top margin */
    width: 100%; /* Use full container width */
    padding: 0 15px; /* Padding on sides */
    font-size: 1em; /* Adaptable font size */
}

.instruction-main {
    display: grid;
    padding-top: 30px; /* Provide spacing from content above */
}

.lettering-image1 {
    display: inline-block; /* Default to block for simpler responsive design */
    text-align: justify;
    margin-top: 20px; /* Add space between elements */
    width: 12%; /* Use full container width */
    padding: 0 15px; /* Padding on sides */
    font-size: 17px;
    
}

.next-exp {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Center button horizontally */
    bottom: 30px; /* Position at the bottom */
    padding: 10px 15px;
    color: white;
    background-color: rgb(20, 117, 228);
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%; /* Responsive width */
}

@media (max-width: 768px) {
    .simulation-container {
        width: 95%; /* Increase width to use more of the small screen */
    }

    .content-main, .lettering-image1 {
        font-size: 16px; /* Smaller font size */
    }

    .next-exp {
        width: 80%; /* Make button wider */
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 0.9rem; /* Even smaller font size */
    }

    .content-main, .lettering-image1 {
        font-size: 15px; /* Adjust base text size */
    }

    .next-exp {
        width: 90%; /* Make button almost full-width */
    }
}

img {
    max-width: 100%; /* Ensures images are never wider than their container */
    height: auto; /* Maintains aspect ratio */
}

