body {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full height of the viewport */
    margin: 0; /* Remove default margin */
}

#canvas-container {
    position: relative;
    width: 400px;
    height: 400px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
}

.dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}



#stroke1 {
    display: none;
    position: absolute;
    top: 66px;
    left: 143px;
    width: 10px;
    height: 264px;
    transform: rotate(204deg);
}

#stroke2 {
    display: none;
    position: absolute;
    top: 66px;
    left: 250px;
    width: 10px;
    height: 264px;
    transform: rotate(156deg);
}

#stroke3 {
    display: none;
    position: absolute;
    top: 158px;
    left: 197px;
    width: 10px;
    height: 130px;
    transform: rotate(90deg);
}

#sbox {
    position: relative;
    left: 130px;
    width: 400px;
    height: 400px;
    z-index: -10;
    
}

.arrrow1 {
    position: absolute;
    top: 60px;
    left: 80px;
    width: 40px;
    height: 280px;
    transform: rotate(207deg);
    z-index: 0;
}
.arrrow2 {
    position: absolute;
    top: 60px;
    left: 280px;
    width: 40px;
    height: 280px;
    transform: rotate(153deg);
    z-index: 0;
}
.arrrow3 {
    position: absolute;
    top: 200px;
    left: 190px;
    width: 30px;
    height: 130px;
    transform: rotate(90deg);
    z-index: 0;
}

#trace {
    position: relative;
    bottom: 10px;
   right: 200px;
    width: 330px;
    height: 330px;
    z-index: -10;
   
}


* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; /* Ensures padding and border are included in width/height calculations */
    z-index: -4;
}

.simulation-container {
    background-color: rgba(220, 229, 236, 1);
    width: 100%; /* Responsive width */
    max-width: 1000px; /* Max width to maintain design integrity */
    min-height: 700px; /* Minimum height */
    margin: 20px auto; /* Auto margins for centering */
    z-index: 0;
    display: grid;
    justify-items: center;

}

.title {
    margin: 0;
    padding: 5px;
    letter-spacing: 0.1em;
    background-color: rgb(0, 140, 255);
    color: white;
    display: flex;
    justify-content: center;
    width: 100%; /* Ensure it fills the container */
    height: 46%;
}

.instruction-main {
   position: relative;
    display: grid;
    justify-content: center;
    z-index: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 10%;
    bottom: 40%;
    font-size: 50px;
}

.instruction-main1 {
    position: relative;
   display: grid;
    justify-content: center;
    z-index: 0;
   
    height: 10%;
    
    
}

.rules {
    position: relative;
    display: flex;
    justify-content: start;
    z-index: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 10%;
    bottom: 40%;
   
    left: -40%;
}