body {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100vh;
    /* Full height of the viewport */
    margin: 0;
    /* Remove default margin */
}

#canvas-container {
    position: relative;
    width: 400px;
    height: 400px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    bottom: 10%;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
    z-index: 10;
    cursor: url('data:image/x-icon;base64,AAACAAEAICAQAAAAAADoAgAAFgAAACgAAAAgAAAAQAAAAAEABAAAAAAAAAIAAAAAAAAAAAAAEAAAAAAAAAAAAAAAhYWFAPqv6ADgm4sASkpKAJ/l7QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACIAAAAAAAAAAAAAAAAAAAEiIAAAAAAAAAAAAAAAAAAxEiIAAAAAAAAAAAAAAAADMxEgAAAAAAAAAAAAAAAAMzMxAAAAAAAAAAAAAAAAAzMzMAAAAAAAAAAAAAAAADMzMwAAAAAAAAAAAAAAAAMzMzAAAAAAAAAAAAAAAAAzMzMAAAAAAAAAAAAAAAADMzMwAAAAAAAAAAAAAAAABTMzAAAAAAAAAAAAAAAAAFVTMAAAAAAAAAAAAAAAAABFVQAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD///////////////////////////////////////////////////////////////////////////////////////P////h////wP///4H///8D///+B////A////gf///wP///4H///+D////B////w////8///////////////w=='), auto;
}

.dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    
}

.dot4 {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.dot1 {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#stroke1 {

    display: none;
    position: absolute;
    top: 5px;
    left: 194px;
    width: 15px;
    height: 160px;
    transform: rotate(90deg);


}

#stroke2 {
    display: none;
    position: absolute;
    top: 79px;
    left: 195px;
    width: 15px;
    height: 240px;
    transform: rotate(180deg);
    z-index: -1;

}

#stroke3 {

    display: none;
    position: absolute;
    top: 75px;
    left: 235px;
    width: 15px;
    height: 250px;
    transform: rotate(162deg);

}

#stroke4 {

    display: none;
    position: absolute;
    top: 73px;
    left: 307px;
    width: 15px;
    height: 250px;
    transform: rotate(197deg);

}

#sbox {
    position: relative;
    left: 93px;
    width: 450px;
    height: 400px;
    z-index: -10;
    top: 5px;
}

#trace {
    position: relative;
    top: -15px;
    right: 225px;
    width: 300px;
    height: 220px;
    z-index: -10;

}

.arrrow1 {

    position: absolute;
    top: -50px;
    left: 184px;
    width: 40px;
    height: 180px;
    transform: rotate(90deg);
    z-index: 0;
}

.arrrow2 {

    top: 80px;
    left: 210px;
    position: absolute;
    transform: rotate(180deg);
    z-index: 0;
    width: 40px;
    height: 210px;
    z-index: -2;
}

.arrrow3 {

    position: absolute;
    transform: rotate(162deg);
    z-index: 0;
    top: 70px;
    left: 240px;
    width: 30px;
    height: 170px;
}

.arrrow4 {

    position: absolute;
    top: 80px;
    left: 330px;
    width: 30px;
    height: 200px;
    transform: rotate(18deg);
    z-index: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; /* Ensures padding and border are included in width/height calculations */
    z-index: -4;
}

.simulation-container {
    background-color: rgba(220, 229, 236, 1);
    width: 100%; /* Responsive width */
    max-width: 1000px; /* Max width to maintain design integrity */
    min-height: 700px; /* Minimum height */
    margin: 20px auto; /* Auto margins for centering */
    z-index: 0;
    display: grid;
    justify-items: center;

}

.title {
    margin: 0;
    padding: 5px;
    letter-spacing: 0.1em;
    background-color: rgb(0, 140, 255);
    color: white;
    display: flex;
    justify-content: center;
    width: 100%; /* Ensure it fills the container */
    height: 60%;
}

.instruction-main {
   position: relative;
    display: grid;
    justify-content: center;
    z-index: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 10%;
    bottom: 40%;
    font-size: 50px;
    margin-top: 20px;
}

.instruction-main1 {
    position: relative;
   display: grid;
    justify-content: center;
    z-index: 0;
   bottom: 100%;
    height: 10%;
    
    
}

.rules {
    position: relative;
    display: flex;
    justify-content: start;
    z-index: 0;
    
    height: 10%;
    bottom: 37px;
    font-size: 150%;
    left: -40%;
}

.rule {
    position: relative;
    display: flex;
    justify-content: start;
    z-index: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
    
    left: -100px;
    bottom: 80px;
    
}   

.congrats {
    position: relative;
    display: none;
    justify-content: start;
    z-index: 0;
    
    height: 10%;
    bottom: 40%;
    font-size: 150%;
   
}

.next-exp {
    position: absolute;
    display: none;
    left: 68%;
    transform: translateX(-50%); /* Centering button horizontally */
    bottom: 200px; /* Position from the bottom */
    padding: 10px 15px;
    color: white;
    background-color: rgb(20, 117, 228);
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;


   
}


