body {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100vh;
    /* Full height of the viewport */
    margin: 0;
    /* Remove default margin */
}

#canvas-container {
    position: relative;
    width: 400px;
    height: 400px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
    z-index: 10;
    cursor: url('data:image/x-icon;base64,AAACAAEAICAQAAAAAADoAgAAFgAAACgAAAAgAAAAQAAAAAEABAAAAAAAAAIAAAAAAAAAAAAAEAAAAAAAAAAAAAAAhYWFAPqv6ADgm4sASkpKAJ/l7QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACIAAAAAAAAAAAAAAAAAAAEiIAAAAAAAAAAAAAAAAAAxEiIAAAAAAAAAAAAAAAADMxEgAAAAAAAAAAAAAAAAMzMxAAAAAAAAAAAAAAAAAzMzMAAAAAAAAAAAAAAAADMzMwAAAAAAAAAAAAAAAAMzMzAAAAAAAAAAAAAAAAAzMzMAAAAAAAAAAAAAAAADMzMwAAAAAAAAAAAAAAAABTMzAAAAAAAAAAAAAAAAAFVTMAAAAAAAAAAAAAAAAABFVQAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD///////////////////////////////////////////////////////////////////////////////////////P////h////wP///4H///8D///+B////A////gf///wP///4H///+D////B////w////8///////////////w=='), auto;
}

.dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}


#stroke1 {

    display: none;
    position: absolute;
    transform: rotate(147deg);
    top: 72px;
    left: 142px;
    width: 10px;
    height: 205px;


}

#stroke2 {
    display: none;
    position: absolute;
    top: 82px;
    left: 230px;
    width: 10px;
    height: 190px;
    transform: rotate(202deg);
    z-index: -1;

}

#stroke3 {

   display: none;
    position: absolute;
    top: 201px;
    left: 95px;
    width: 130px;
    height: 205px;
    transform: rotate(2deg);
    z-index: -1;

}

#sbox {
    position: relative;
    left: 115px;
    width: 400px;
    height: 400px;
    z-index: -2;
    display: none;
}

#trace {
    position: relative;
    bottom: 20px;
    right: 90px;
    width: 600px;
    height: 550px;
    z-index: -10;
}

.arrrow1 {

    position: absolute;
    top: 116px;
    left: 99px;
    width: 28px;
    height: 140px;
    transform: rotate(144deg);
    z-index: 0;
}

.arrrow2 {

    top: 126px;
    left: 269px;
    position: absolute;
    transform: rotate(210deg);
    z-index: 0;
    width: 30px;
    height: 130px;
    z-index: -2;
}

.arrrow3 {

    position: absolute;
    transform: rotate(205deg);
    z-index: 0;
    top: 270px;
    left: 200px;
    width: 30px;
    height: 130px;
}